################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MovieManagementSystem/.vs/MovieManagementSystem/FileContentIndex
